.idea
.DS_Store
portfolio-page/.idea
portfolio-page/.DS_Store
portfolio-page/build
portfolio-page/node_modules
portfolio-page/package-lock.json
portfolio-page/.env
portfolio-page/_next

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
portfolio-page/.pnp
portfolio-page/.pnp.js

# testing
portfolio-page/coverage

# next.js
portfolio-page/.next/
portfolio-page/out/

# misc
spa-portfolio/*.pem

# debug
portfolio-page/npm-debug.log*
portfolio-page/yarn-debug.log*
portfolio-page/yarn-error.log*
portfolio-page/.pnpm-debug.log*

# local env files
portfolio-page/.env*.local

# vercel
portfolio-page/.vercel

# Local Netlify folder
portfolio-page/.netlify
