.contactForm {
  text-align: center;
  p {
    color: black;
  }

}

.contactFields {
  width: 100%;
  text-align: center;

  p {
    color: black;
  }

  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textAreaField {
    overflow: auto;
    resize: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: rgba(0, 0, 0, .65);
    padding: 15px;
    font-family: "Arial", sans-serif;
    width: 450px;
    height: 200px;
    margin-bottom: 15px;
  }

  .textAreaField:focus {
    border: 1px solid rgba(dodgerblue, .5);
  }


  .sendMessageButton {
    display: block;
    margin: 0 auto;
    width: 215px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    border: none;
    background: #0070f3;
    color: white;
    border-radius: 7px;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    padding: 0 3.5rem;
    line-height: 2.8rem;
  }

}
