.contactForm {
  text-align: center;
  p {
    color: black;
  }
}

.contactFields {
  width: 100%;
  .inputs {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
