@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

.link, a {
  text-decoration: none;
  color: greenyellow;
  cursor: pointer;
  &.blue {
    color: dodgerblue;
  }
}
.link:hover, a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: greenyellow;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  &.blue {
    text-decoration-color: dodgerblue;
  }
}
