.inputContainer {
  margin: 5px;

  .title {
    color: black;
    margin-bottom: 5px;
  }

  .inputField {
    width: 220px;
    height: 30px;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: rgba(0, 0, 0, .65);
  }

  .inputField:focus {
    border: 1px solid rgba(dodgerblue, .5);
  }
}
