.container {
  width: 315px;
  min-height: 200px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin: 10px;
  padding: 25px;
  position: relative;
  background: #fff;
  transition: .2s;
  cursor: pointer;

  @media only screen and (max-width: 800px) {
    margin: 0 auto 10px;
  }

  p, h3 {
    color: black;
    margin: 0;
  }

  .description {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .more {
    bottom: 20px;
    position: absolute;
  }
}

.container:hover {
  box-shadow: 0 8px 30px rgba(0,0,0,.12);
  transition: box-shadow .2s ease;
  border: 1px solid transparent;
}
